In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
X_train = pd.read_csv("./data/cleaned/X_train.csv")
X_train = X_train.drop(X_train.columns[[0]], axis = 1)
y_train = pd.read_csv("./data/cleaned/y_train.csv")
y_train = y_train.drop(y_train.columns[[0]], axis = 1)
merge_train = X_train.join(y_train)

In [3]:
normal_train = merge_train.loc[merge_train['DEFAULT_LABEL']==0]
default_train = merge_train.loc[merge_train['DEFAULT_LABEL']==1]
normal_train=normal_train.describe().T
normal_train.drop(normal_train.columns[[0,3,4,5,6,7]], axis = 1,inplace=True)
normal_train.index.name = 'Variables'
normal_train=normal_train.reset_index()
normal_train=normal_train.rename(columns={'mean':'normal_mean','std':'normal_std'})
default_train=default_train.describe().T
default_train.drop(default_train.columns[[0,3,4,5,6,7]], axis = 1,inplace=True)
default_train.index.name = 'Variables'
default_train=default_train.reset_index()
default_train=default_train.rename(columns={'mean':'default_mean','std':'default_std'})

In [4]:
table1 = X_train.describe().T
table1.drop(table1.columns[[0]], axis = 1)
table1.index.name = 'Variables'
table1.reset_index()

,Variables,count,mean,std,min,25%,50%,75%,max
0,v551,73500.0,0.065452,0.028920,0.005078,0.065452,0.065452,0.065452,1.247665
1,v503,73500.0,3.834355,0.420875,0.000000,3.834355,3.834355,3.834355,4.969813
2,v856,73500.0,0.068335,0.059331,0.000223,0.068335,0.068335,0.068335,0.970406
3,v447,73500.0,0.090992,0.031474,0.000000,0.090992,0.090992,0.090992,0.693147
4,v388,73500.0,0.033043,0.045186,0.000126,0.033043,0.033043,0.033043,1.178350
...,...,...,...,...,...,...,...,...,...
180,v176,73500.0,1.289099,0.262756,0.000000,1.289099,1.289099,1.289099,1.739435
181,v925,73500.0,6.732645,0.791843,0.000000,6.732645,6.732645,6.732645,8.849846
182,v381,73500.0,0.248366,0.042362,0.000000,0.248366,0.248366,0.248366,0.415888
183,v577,73500.0,0.236017,0.092833,0.006616,0.236017,0.236017,0.236017,1.316980
184,v678,73500.0,0.522545,0.372144,0.000000,0.522545,0.522545,0.522545,5.345217

In [5]:
table2 = pd.read_csv("./data/datapreview.csv")
table2

    Variables  Nan Count  Nan Rate     PSI WOE_shape      IV
0        v000      39118    0.5322  0.1237   U-shape  0.0024
1        v001      65586    0.8923  0.0584      None  0.0009
2        v002      71528    0.9732  0.0142      None  0.0020
3        v003      24464    0.3328  0.3668      None  0.0249
4        v004      44071    0.5996  0.2371   U-shape  0.0016
..        ...        ...       ...     ...       ...     ...
994      v995      52566    0.7152  0.1673       NAN  0.0059
995      v996      13680    0.1861  0.4470       NAN  0.0458
996      v997      16997    0.2313  0.2434       NAN  0.0076
997      v998      64718    0.8805  0.0729       NAN  0.0007
998      v999      16997    0.2313  0.1868       NAN -0.1511

[999 rows x 6 columns]

In [6]:
merge_table = pd.merge(table1,table2,how='left',left_on='Variables',right_on='Variables')
merge_table = pd.merge(merge_table,normal_train,how='left',left_on='Variables',right_on='Variables')
merge_table = pd.merge(merge_table,default_train,how='left',left_on='Variables',right_on='Variables')
merge_table.drop(merge_table.columns[[1]], axis = 1,inplace=True)
merge_table

,Variables,mean,std,min,25%,50%,75%,max,Nan Count,Nan Rate,PSI,WOE_shape,IV,normal_mean,normal_std,default_mean,default_std
0,v551,0.065452,0.028920,0.005078,0.065452,0.065452,0.065452,1.247665,63640,0.8659,0.0749,NAN,0.0064,0.065476,0.029083,0.064320,0.019900
1,v503,3.834355,0.420875,0.000000,3.834355,3.834355,3.834355,4.969813,65586,0.8923,0.1741,NAN,0.0125,3.834114,0.422059,3.845582,0.361294
2,v856,0.068335,0.059331,0.000223,0.068335,0.068335,0.068335,0.970406,59136,0.8046,0.1115,NAN,0.0077,0.068334,0.059464,0.068419,0.052775
3,v447,0.090992,0.031474,0.000000,0.090992,0.090992,0.090992,0.693147,61894,0.8421,0.0969,NAN,0.0088,0.090985,0.031445,0.091315,0.032786
4,v388,0.033043,0.045186,0.000126,0.033043,0.033043,0.033043,1.178350,56940,0.7747,0.1395,NAN,0.0052,0.033034,0.044974,0.033468,0.054158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,v176,1.289099,0.262756,0.000000,1.289099,1.289099,1.289099,1.739435,52491,0.7142,0.2088,NAN,0.0135,1.288854,0.262492,1.300515,0.274650
181,v925,6.732645,0.791843,0.000000,6.732645,6.732645,6.732645,8.849846,63640,0.8659,0.0751,NAN,0.0058,6.732337,0.792036,6.747005,0.782888
182,v381,0.248366,0.042362,0.000000,0.248366,0.248366,0.248366,0.415888,65649,0.8932,0.0540,NAN,0.0150,0.248399,0.042436,0.246823,0.038763
183,v577,0.236017,0.092833,0.006616,0.236017,0.236017,0.236017,1.316980,64900,0.8830,0.0590,NAN,0.0301,0.236138,0.093147,0.230349,0.076550
184,v678,0.522545,0.372144,0.000000,0.522545,0.522545,0.522545,5.345217,39463,0.5369,0.1989,NAN,0.0081,0.522645,0.371927,0.517901,0.382184

In [7]:
merge_table.to_csv("./data/datapreview2.csv",index=False)